$white: #fff;

.navigation{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    .nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 20px;
            margin-left: 5px; 
        }
    }
    .nav-brands{
        .brands{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            border: 3px solid $white;
        }
    }
}