* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #f6f7f9;
}

.bx-one-gray {
  border: 1px solid lightgray;
}

.p-fixed{
  position: fixed;
  width: 100%;
}

.dj-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background: #49c8db;
}

li {
  list-style-type: none;
}



.skyblue {
  color: skyblue;
}

.red {
  color: red;
}

.purple {
  color: rgb(235, 55, 235);
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.main-chat-section {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  min-height: 90vh;
  background: var(--light-gray);
  margin-top: 50px;
}


